.gallery-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem 1rem 1rem 1rem;
  width: 100%;
  box-sizing: border-box;

}

.gallery-tile-container {
  background-color: white;
  max-width: 50rem;
  width: 100%;
  display: flex;
  align-items: center;
  margin: 1rem;
  border-radius: 1rem;
  overflow: hidden;

  .gallery-tile-logo-container {
    background-color: @color2;
    width: 20rem;
  }
  .gallery-tile-logo {
    padding-bottom: 100%;
  }
  .gallery-tile-text {
    display: flex;
    flex-direction: column;
    width: 20rem;
    padding-left: 3rem;
    text-align: left;
  }
}

