
.splash-container {
  height: 20rem;
  background-color: @color1;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 5rem;
}

.splash-title {
  color: @color3;
}