@import "./Splash.less";
@import "./Gallery.less";
@import "./logos.less";

// core colours
// https://coolors.co/fcaa67-b0413e-ffffc7-548687-473335
// https://coolors.co/ed254e-f9dc5c-f4fffd-011936-465362
@color1: #465362;
@color2: #011936;
@color3: #F4FFFD;
@color4: #F9DC5C;
@color5: #ED254E;


